<p-carousel [value]="sliders" styleClass="custom-carousel p-t-100"
            [numVisible]="3" [numScroll]="1" [circular]="true"
            [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
  <ng-template let-slide pTemplate="item">
    <div class="product-item">
      <div class="product-item-content">
        <div class="p-mb-3">
          <img [routerLink]="'news/' + slide.ID" src="{{(slide.imageSmall ? slide.imageSmall : 'assets/img/no-img.jpg')}}" [alt]="slide.title" class="product-image" />
        </div>
        <div>
          <h6 [routerLink]="'news/' + slide.ID" class="p-mb-1 def-col">{{slide.title}}</h6>
        </div>
      </div>
    </div>
  </ng-template>
</p-carousel>
